@import "../../styles//variables.scss";
.input {
  padding: 7px 15px;

  color: #000;
  border: none;
  outline-color: $primary;
  background-color: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: $font-family;
  &::placeholder {
    color: $grey-dark;
  }
}
