@import "../../styles/variables.scss";
.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;
  background-color: $primary;
  padding: 25px 30px;
  color: $white;
  font-size: 16px;
  line-height: 16px;
  padding: 25px 30px;
  a:hover{
    color: $grey-light;
  }
}

@media (max-width:765px) {
    .footer{
        grid-template-columns: 1fr;
    }
    
}