@import "../../styles/variables.scss";
.hh {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}
.count {
  padding: 20px;
  text-align: center;
  &Value {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $primary;
  }
}
.salary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  text-align: center;
  gap: 20px 0;
  > div {
    border-right: 1px solid $grey-light;
    &:last-child {
      border-right: none;
    }
  }
  &Value {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  &Rate {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    gap: 10px;
    justify-content: center;
  }
}
.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.filled circle {
  fill: $red;
}
@media (max-width: 1200px) {
  .hh {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 640px) {
  .salary {

    grid-template-columns: 1fr;
    > div {
      border-right: none;
      border-bottom:  1px solid $grey-light;
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
