@import './variables.scss';

html,
body {
	margin: 0;
	padding: 0;
	color: $text-color;
	// background: #E5E5E5;
	font-family: $font-family;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
