// variables
$text-color:#3B434E;
$white:#fff;	
$grey-light:#EBEBEB;
$grey-dark: #787D85;	
$primary: #7653FC;
$primary-hover: #6344DF;
$red: #FC836D;
$green:#1DC37E;
$green-light: #C8F8E4;
$font-family:'Noto Sans KR', sans-serif;